# Directorios generados automáticamente por Composer
/vendor/

# Archivos de configuración de PHPUnit
/phpunit.xml

# Archivos específicos de Composer
/composer.lock

# Archivos temporales del IDE (VS Code, etc.)
.vscode/
*.log